nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button {
        background: transparent;
        border: none;
        cursor: pointer;
        border:  2px solid rgb(65,65,65);
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover{
            background: rgb(65,65,65);
            color: white;
        }
    }
}

@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;

        }
    }
   
    
}

.switch {  
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem 1rem;
    

}

#light .nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
   #light .button {
        background: transparent;
        border: none;
        cursor: pointer;
        border:  2px solid rgb(65,65,65);
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover{
            background: rgb(65,65,65);
            color: white;
        }
    }
}

#dark .nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
   #dark .button {
        background: transparent;
        border: none;
        cursor: pointer;
        border:  2px solid rgb(255, 255, 255);
        padding: 0.5rem;
        transition: all 0.3s ease;
        &:hover{
            background: rgb(65,65,65);
            color: rgb(255, 255, 255);
        }
    }
    #dark .ReactSwitch{
        color: white;
    }
}