* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1.h2,h3{
    color: rgb(54,54,54);
}

body {
    font-family: 'Lato', sans-serif;
}
h3, h4{
    font-weight: 400;
    color: rgb(100,100,100);

}
.App {
transition: all 0.5s ease;
}


#light  {
    background-color: white;
    color: black;
    p{
        color: black;
        
    }
    #icon {
    color: black;
   }
}

#dark  {
    background-color: black;
    color: white;
    p, h1, h2, h3, h4{
    color: white;
    }
    #icon {
    color: white;
     }
     .song-description{
    color: white;
     }

     
}

.dark-light {
    position: absolute;
    left: 20rem;
    top: 2rem;
}





@import "./song";
@import "./player";
@import "./library";
@import "./Nav";